section.about
    .container
        .left-panel
            include attending.pug
            include news.pug
            
        .right-panel
            include aboutme.pug
section
    .container
        include pubs.pug