.container
    section.full
        :markdown-it(linkify langPrefix='highlight-')

            We are seeking enthusiastic students to join us.
            Candidates with strong competencies in fields such as human-computer interaction, educational technology, and software engineering are highly preferred.

            ## Application Materials

            Before making contact, kindly review the research projects listed on my website to ensure that your research interests align with ours. 
            Prospective candidates should write to [peachlab@inf.ethz.ch](mailto:peachlab@inf.ethz.ch?subject=Prospective-Student-POSITION) with the following details:

            - Your CV
            - Name of the position
            - A brief paragraph outlining your background and research interests (e.g., skills in design and programming, reasons for wanting to join the lab)
            - Examples of your publications or writing samples (optional)
            - The names and contacts of three references for your application (optional)

            Please be aware that due to the high volume of inquiries, we might not be able to respond to every email.
            
            ## Doctoral Positions
            - [Doctoral Positions (for master graduates)](https://inf.ethz.ch/doctorate/doctoral-study-program.html). Admission on rolling basis
            - [Direct Doctorate in CS (for bachelor graduates)](https://inf.ethz.ch/doctorate/direct-doctorate-computer-science.html). Deadline: December 15
            - [ETH Zurich - EPFL Joint Doctoral Program in the Learning Sciences](https://lse.ethz.ch/doctoral-program-in-learning-sciences.html).
            - [Max Planck ETH Center for Learning Systems Doctoral Fellowship](https://learning-systems.org/)
            - [ETH AI Center Doctoral Fellowship](https://ai.ethz.ch/education/phd-and-postdoc-programs/phd-fellowships.html)

            ### Doctoral Positions (for master graduates)
            If you're a strong candidate who has already completed a master's degree, or you're about to, we invite you to get in touch directly before applying through the [central application system](https://www.lehrbetrieb.ethz.ch/BewDokFrontend/login.view?lang=en).
            Please include "Education technology" and "Human-computer interaction" as your interests in the system so that we can better locate your application.

            For the 2025 cycle, we plan to review the applications after January 15.

            ### Direct Doctorate in CS (for bachelor graduates)
            ETH Zürich's Department of Computer Science provides a [Direct Doctorate Program](https://inf.ethz.ch/doctorate/direct-doctorate-computer-science.html), designed for outstanding undergraduate applicants. If you are interested in the program, please apply directly. 
            
            
            ## Postdoc Positions
            We invite highly qualified postdoctoral candidates to become part of our lab. We are particularly interested in those who focus on developing collaborative and educational programming tools. We anticipate that the successful candidates will aim to publish their research in academic communities such as CHI, CSCW, L@S, AIED or other related platforms. Please feel free to reach out to us directly. We currently take Postdoc applicants through the following fellowships: 
            - [ETH Zürich Postdoctoral Fellowship](https://ethz.ch/en/research/research-promotion/eth-fellowships.html). Deadline: March 1 and September 1
            - [SNSF Swiss Postdoctoral Fellowship](https://www.snf.ch/en/m1NtWp4nTELQixlu/funding/horizon-europe-swiss-postdoctoral-fellowships). Deadline: December 1

            ## Undergraduate and Master Students at ETH Zürich 
            We welcome undergraduates and master students at ETH Zürich to conduct their [thesis or semester projects](https://inf.ethz.ch/studies/semester-and-master-theses.html) in the lab. Many of the students we've worked with have gone on to co-author papers with me, and a significant number are now enrolled in prestigious graduate schools or working in leading industries. There's often an opportunity for students who have experience or interest in areas like software development, data science, or UX design to join in on projects.
            
            - [Available projects](https://cloud.inf.ethz.ch/s/NeDwy4Perzsgj4d)
            
        
        :markdown-it(linkify langPrefix='highlight-')

            ## Visiting Students Outside of ETH Zürich
            Due to the limited capacity, we prioritize students at ETH Zürich to join existing projects, as these opportunities are often integrated into their master's or bachelor's thesis work.
            Nonetheless, we welcome visiting students who show exceptional self-motivation and have secured external fellowships (e.g., [ETH SSRF](https://inf.ethz.ch/studies/summer-research-fellowship.html)) for their visit.
            

            ![zurich](./assets/zurich.jpg)