.container
    section.full
        .announcement 📅 Book an <a href='https://doodle.com/bp/aprilwang/office-hour' target='_blank'>office hour</a> with me.

        :markdown-it(linkify langPrefix='highlight-')
            ### Spring Semester 2025
            - [Design in Educational Technology](https://peachlab.gitbook.io/designing-in-educational-technology), Fri 14:15-16:00, CAB G56

            ### Autumn Semester 2024
            - [Human Computer Interaction](https://siplab.org/courses/human_computer_interaction/2024), Thu 10:00–12:00, HG E3, Fri 13:00–14:00, HG F5
            - [Seminar on User-Centered Programming Interfaces](https://peachlab.gitbook.io/seminar-on-user-centered-programming-interfaces), Thu 16:15-18:00, CAB G52
            
            ### Spring Semester 2024
            
            - [Advanced Topics in Mixed Reality](https://www.vorlesungen.ethz.ch/Vorlesungsverzeichnis/lerneinheit.view?lerneinheitId=178013&semkez=2024S&ansicht=LEHRVERANSTALTUNGEN&lang=en), Wed 16:15-18:00, CHN D46

            ### Available Thesis Projects
            We welcome undergraduates and master students at ETH Zürich to conduct their [thesis or semester projects](https://inf.ethz.ch/studies/semester-and-master-theses.html) in the lab. 
            There's often an opportunity for students who have experience or interest in areas like software development, data science, or UX design to join in on projects.
            If you have taken the user-centered programming interfaces course, or the design in educational technology, we welcome you to propose your own project topics.

            - [Available projects for Autumn 2025](https://cloud.inf.ethz.ch/s/NeDwy4Perzsgj4d)

            ### Current Thesis Students
            - Dominique Angehrn, ETH Computer Science MSc, AI-assited Programming in Scratch, co-advised with Xiaotian Su
            - Simon Ebner, ETH Computer Science MSc, Situated Language Learning
            - Zihan Li, ETH Computer Science Bachelor, Designing an Educational Game with the Toio Robot for Youth AI Literacy
            - Alexis Elisseeff, ETH Computer Science Bachelor, Scaling Project-based Learning with JetBrains Academy, co-advised with JetBrains Research
            - Silvan Metzker, ETH Computer Science Bachelor, Extending Merlin: Enhancing GUI-Editor Functionality and Expressiveness
            - Laura Weschke, ETH Computer Science Bachelor, Eye Tracking Study for Code Comprehension, co-advised with Xiaotian Su
            - Eren Homburg, ETH Computer Science Bachelor, DBox Plus: An AI-Assisted Code Learning Tutor, co-advised with JetBrains Research
            - James Wei, ETH Computer Science MSc, Collaborative Data Storytelling with Spreadsheets, co-advised with Zeyu Xiong
            - Joel Bucher, ETH Computer Science MSc, Git Academy
            - Cheng Xuan, ETH Computer Science MSc, Replication Study on Eye Movement for Code Comprehension, co-advised with Xiaotian Su
            - Elisa Martínez Abad, ETH Computer Science MSc, Speculative Flow Execution in Colang, co-advised with NVIDIA Switzerland and Junling Wang


            ### Past Thesis Students
            - Kristijan Zafirovski, ETH Computer Science Bachelor, AgoraSim: AI-Driven Social Media Simulator for Education
            - Lukas Mast, ETH Computer Science Bachelor, [Coducate: A Code Editor Extension to Streamline Instructor-Led Live Coding](https://madbeamer.github.io/coducate-project-page/), led to the software [Coducate available in VSCode Marketplace](https://marketplace.visualstudio.com/items?itemName=coducate.coducate)
            - José Gennes Sanchez, ETH Computer Science Bachelor, An In-IDE Tutorial Authoring Tool with Step Verification 
            - Catherine Schmit, ETH Computer Science MSc, [Data-Story: A Data Authoring Tool for Learning Data Literacy](https://www.research-collection.ethz.ch/handle/20.500.11850/701763)
            - Jannik Gartmann, ETH Computer Science MSc, Enhancing Creative Software Learning through AI-Generated Guides with Visual Anchors
            - Shu Wang, ETH Data Science MSc, [Merlin: A Markup Language for Algorithm Animations](https://eth-peach-lab.github.io/merlin-about/), led to a PLATEAU 2025 workshop paper "Merlin: A Markup Language for Algorithm Animations"
            - Oiver Lehmann, ETH Bachelor, [Live Peer Testing for ML Learners focusing on Visual Data](https://olileh.github.io/VisPeerTest_project_page/)
            - Kiara Chau, ETH Computer Science Bachelor, Understanding High-School Instructors’ Challenges in Teaching Data Literacy, led to ITiCSE 2025 publication "datAR: A Situated Learning Approach for Data Literacy Through Everyday Objects"
            - Lilian Lopez, ETH Computer Science Bachelor, Augmented Reality Mobile Interface for Introductory Data Science Courses, led to ITiCSE 2025 publication "datAR: A Situated Learning Approach for Data Literacy Through Everyday Objects"
            - Pascal Linder, ETH Computer Science Bachelor, [A Collaborative Learning Extension for Jupyter Notebook](https://eth-peach-lab.github.io/collaborative-learning-extension-jupyter/)
