.container
    section.full
        :markdown-it(linkify langPrefix='highlight-')
            ### Autumn Semester 2024
            - [Human Computer Interaction](https://siplab.org/courses/human_computer_interaction/2024), Thu 10:00–12:00, HG E3, Fri 13:00–14:00, HG F5
            - [Seminar on User-Centered Programming Interfaces](https://peachlab.gitbook.io/seminar-on-user-centered-programming-interfaces), Thu 16:15-18:00, CAB G52
            
            ### Spring Semester 2024
            
            [Advanced Topics in Mixed Reality](https://www.vorlesungen.ethz.ch/Vorlesungsverzeichnis/lerneinheit.view?lerneinheitId=178013&semkez=2024S&ansicht=LEHRVERANSTALTUNGEN&lang=en), Wed 16:15-18:00, CHN D46
