.container
    section.full
        :markdown-it(linkify langPrefix='highlight-')
            
            ### Spring Semester 2024
            
            [Advanced Topics in Mixed Reality](https://www.vorlesungen.ethz.ch/Vorlesungsverzeichnis/lerneinheit.view?lerneinheitId=178013&semkez=2024S&ansicht=LEHRVERANSTALTUNGEN&lang=en), Wed 16:15-18:00, CHN D46
