.VennDiagram
    .Venn
        .ButtonGroup
            button#button-venn.RoundedButton
        .label1.label collaboration
        .label2.label programming
        .label3.label education
    .venn-pub-list.cp
        ul
            li 
                a(href='#ICSE2022') Reuse analysis code, ICSE&rsquo;22
            li 
                a(href='#CHI2022a') DITL, CHI&rsquo;22
            li 
                a(href='#CHI2022b') NB2Slide, CHI&rsquo;22
            li 
                a(href='#TOCHI2021') Themisto, TOCHI&rsquo;21
            li 
                a(href='#CSCW2021b') Multidisciplinary teams, CSCW&rsquo;21
            li 
                a(href='#IUI2021') Ziva, IUI&apos;21
            li 
                a(href='#CHI2020') Callisto, CHI&rsquo;20 <i class='fas fa-award'></i>
            li 
                a(href='#CSCW2019') Synchronize editing, CSCW&rsquo;19 <i class='fas fa-trophy'></i>
    .venn-pub-list.ce
        ul
            li 
                a(href='#CSCW2021a') PuzzleMe, CSCW&rsquo;21
            li 
                a(href='#VLHCC2020') EdCode, VL/HCC&rsquo;20 <i class='fas fa-award'></i>
    .venn-pub-list.pe
        ul
            li 
                a(href='#VLHCC2019') JargonLite, VL/HCC&rsquo;19
            li 
                a(href='#CHI2018') Conversational programmers, CHI&rsquo;18 <i class='fas fa-award'></i>