@import 'variable';
@import 'news';

.home {
    color: $primary-color;
    margin-top:10px;
    line-height: 25px;
}

.p1 {
    font-family: lato, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top:5px;
    margin-bottom: 5px; 
}

#detail {
    margin-top: 40px;
    font-family: lato, sans-serif;
    font-size: 15px;
    font-weight: regular;
}