@import 'character';
@import 'drawer';
@import 'variable';
@import 'about';
@import 'dot';
@import 'projectlist';
@import 'more';

html {
    height: 100%;
}

body {
    color: $primary-color;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
}

section {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

a {
  text-decoration: none;
  color: $primary-highlight;
  font-weight: bold;
  text-decoration: underline $primary-highlight;
}

a:visited {
  text-decoration: none;
}

#sec4 {
    height: 80vh;
    top: 0;
}

footer {
    height: 20vh;
    background: $primary-highlight;
}

.p0-content {
    margin: auto;
    padding-top: 15%;
    text-align:center;
    cursor:default;
}

.tit {
    font-family: passion-one, sans-serif;
    font-size: 15px;
    color: black;
}

.text {
    font-family: lato, sans-serif;
    font-size: 15px;
}

#title {
    font-family: passion-one, sans-serif;
    font-size: 80px;
    color: $primary-highlight;
    margin: 10px;
}

#subtitle {
    font-family: muli, sans-serif;
    font-size: 20px;
    margin:auto;
    color: $primary-darkgray;
}

#enter {
    cursor: pointer;
    font-family: passion-one, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid black;
    width: 5%;
    margin:auto;
    margin-top: 50px;
    transition: width 0.5s ease;
    &:hover{
        width: 6%;
    }
}

#big {
    text-align:center;
    font-family: passion-one, sans-serif;
    font-size: 80px;
    color: $primary-highlight;
    margin: 10px;
    padding-top: 20%;
}

#small {
    text-align:center;
    font-family: lato, sans-serif;
    font-size: 12px;
    color: $primary-lightgray;
    margin: 0;
    padding-top:5%;
}

p {
    cursor: default;
}