// @import 'character';
// @import 'drawer';
@import 'variable';
@import 'cv';
@import 'container';
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


html {
    height: 100%;
    font-weight: 300;
}

body {
    color: $secondary-color;
    line-height: 25px;
    font-family: $font-family;
    // font-family: 'Crimson', serif;
    font-size: 15px;
    font-weight: 200;
}

main {
     border-top: solid;
     border-top-color: $section-header-linebreak;
     border-top-width: $section-header-ol;
}

#app{
    height: 100%;
    padding: 10px;
}

strong {
    font-weight: 600;
    color: $primary-highlight;
}

section {
    margin: 0;
    padding: 2rem 0rem;
}

a {
  text-decoration: none;
  color: $link;
  font-weight: 400;
}

a:hover {
    color: $link-secondary;
}

a:visited {
  text-decoration: none;
}

.p0-content {
    margin: auto;
    padding-top: 15%;
    text-align:center;
    cursor:default;
}

// .tit {
//     font-family: passion-one, sans-serif;
//     font-size: 15px;
//     color: black;
// }



// ul {
//     font-family: lato, sans-serif;
// }

li {
    text-decoration: none;
}

#subtitle {
    // font-family: muli, sans-serif;
    font-size: 20px;
    margin:auto;
    color: $primary-darkgray;
}

#enter {
    cursor: pointer;
    // font-family: passion-one, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid black;
    width: 5%;
    margin:auto;
    margin-top: 50px;
    transition: width 0.5s ease;
    &:hover{
        width: 6%;
    }
}

#big {
    text-align:center;
    font-family: passion-one, sans-serif;
    font-size: 80px;
    color: $primary-highlight;
    margin: 10px;
    padding-top: 20%;
}

#small {
    text-align:center;
    font-family: lato, sans-serif;
    font-size: 12px;
    margin: 0;
    padding-top:5px;
    grid-column: 1/9;
}

p {
    cursor: default;
    margin: 0px;
}

.hide {
    display: none;
  }

.title {
    // font-family: lato, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: $primary-highlight; 
    margin-bottom: 0px;
}

.text {
    padding:10px 0px;
}