@import 'character';
@import 'drawer';
@import 'variable';

body {
    color: $primary-color;
}

.p1-content {
    width: 100%;
    margin: auto;
    margin-top: 10%;
    text-align:center;
    cursor:default;
}

#title {
    font-family: passion-one, sans-serif;
    font-size: 80px;
    color: $primary-highlight;
    margin: 10px;
}

#subtitle {
    font-family: muli, sans-serif;
    font-size: 20px;
    color: $primary-darkgray;
}

#enter {
    font-family: passion-one, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid black;
    width: 5%;
    margin:auto;
    margin-top: 10px;
    transition: width 0.5s ease;
    &:hover{
        width: 6%;
    }
}