@import 'variable';
.dot{
  list-style: none;
  font-family: passion-one, sans-serif;
  font-size: 10px;
  position:absolute;
  top: 40%;
  right: 5%;
  position:fixed;
  background: black;
  padding-top: 25px;
  width: 20px;
  padding-left: 0px;
  border-radius: 20px;
  background-color: $primary-lightgray;
  transition: background-color 1s ease;
}
.dot:hover{
  background-color: $primary-midgray;
}

.dot li{
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.5s ease;
  text-align: center;
  color: $primary-darkgray;
}

.dot li:hover{
  transform: scale(1.5);
}

.dot .current {
  color: $primary-highlight;
}