@import 'variable';
@import 'neat/neat/';
@import 'media';

.menu{
  background: white;
  @include grid-container;
}

.sitetitle {
  font-family: lato, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: $primary-highlight; 
  display: inline;
  padding-left: 12%;
}

.menu ul{
  margin-top:20px;
  float: right;
  margin-right: 100px;
}

.menu li{
  list-style-type: none;
  display: inline;
  margin-left: 20px;
  padding-bottom: 3px;
  font-size: 12px;
}

.menu li:hover{
  border-bottom: 3px solid $primary-highlight;
}
