@import 'variable';
@import 'character';

.more {
  margin:auto;
  text-align: center;
  font-family: passion-one, sans-serif;
  font-size: 20px;
}
.final {
  text-align: center;
  margin: auto;
  padding-top: 5%;
}
.thanks {
    font-family: passion-one, sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
}
.content {
    font-family: lato, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.friendlist {
  display:inline;
  padding-top: 20px;
}

.friends {
  margin-top: 60px;
}

.friend {
  text-decoration: none;
  margin-right: 20px;
  border-bottom: solid 2px $primary-highlight;
  transition: all 0.5s ease;
  font-size: 15px;
}

.more p {
  font-weight: 400;
  margin-top: 20px;
}

#cat:hover {
  cursor: pointer;
}

#two{
  margin-top: 80px;
}

#Trevor-SVG{
  height: 100px;
}

#two > #April-SVG{
  margin-top: 60px;
  height: 100px;
}


#source {
  display:none;
}

#rest {
  opacity: 0;
  transition: opacity 2s ease;
}

.cat img{
  height: 150px;
  border: 10px solid $primary-lightgray;
  margin-left: 10px;
  margin-right: 10px;
}

.more iframe{
  margin-top: 20px;
  margin-bottom: 20px;
}

.bakery img{
  height: 150px;
  border: 10px solid $primary-lightgray;
  margin-left: 10px;
  margin-right: 10px;
}

.bakery {
  margin-top: 20px;
}

.friends {
  margin-bottom: 50px;
}