@import 'variable';
.personal-container {
  text-align: center;
  padding-top: 5%;
}

.personal {
  margin:auto;
  width: 50%;
}

.info {
  border-bottom: solid 1px $primary-lightgray;
}

.name {
  font-family: lato, sans-serif;
  font-size: 25px;
}

.edu{
  font-family: lato, sans-serif;
  font-size: 14px;
}

.affli{
  font-family: lato, sans-serif;
  font-size: 14px;
}

.icons a {
  margin-right: 20px;
}

.icons {
  margin-top: 20px;
}

#avatar {
  height: 100px;
}

#right {
  display: block;
  position: absolute;
  left: 35%;
  width: 50%;
}

#avadiv {
  width:120px;
  height:120px;
  border-radius:120px;
  margin:auto;
  background-color: $primary-lightgray;
}
#avatar {
  width: 100px;
  height: 100px;
  line-height: 0;
  margin-top:10px;
  display: inline-block;
  border-radius: 50%;
}
