@import 'variable';

.project-detail {
  width: 100%;
}

.project-detail-item {
  height: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.project-detail-bar {
  font-weight: 400;
  color: $primary-dark;
}

.project-detail-bar:hover {
  color: $primary-highlight;
}

.project-detail-list {
  display: inline;
  margin-left: 4px;
}

.project-detail-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  border-top: 1px solid $primary-lightgray;
  padding-top: 20px;
  margin-bottom: 20px;
  color: $primary-lightdark;
}

.project-detail-content h2 {
  font-size: 15px;
  margin-top: 50px;
  border-left: 3px solid $primary-lightgray;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: $primary-lightdark;
}

.small-image img{
  max-width: 400px;
  text-align: center;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.large-image img{
  width: 800px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.center-image{
  text-align: center;
  width: 100%;
}

.project-detail-content h3 {
  font-size: 14px;
  margin-top: 40px;
}

.project-detail-content p {
  line-height: 25px;
}

.project-detail-content li {
  line-height: 25px;
  margin-left: 0;
}

.project-detail-content ul {
  margin-left: 0;
  padding-left: 16px;
}