@import 'variable';
#sec2 {
  text-align: center;
  margin:auto;
}

.project-big-title {
    font-family: lato, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: $primary-highlight; 
    padding-top: 20px;
    padding-bottom: 10px;
}
.project-list {
  font-family: lato, sans-serif;
  font-size: 15px;
  cursor:default;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.project-detail {
  height: 100%;
  width: 100%;
  background-color:$primary-lightgray;
  top: 0;
  left: 100%;
  position:fixed;  
  transition: all .5s ease-in;
  z-index: 1;
  text-align: center;
}

.project-detail.show{
  left: 0px;
}

.project-detail-title{
  font-family: passion-one, sans-serif;
  font-size: 30px; 
  color:$primary-highlight;
  margin:auto; 
}

.project-detail-content{
  font-family: passion-one, sans-serif;
  font-size: 100px; 
  color:$primary-highlight;
  margin:auto;
  margin-top: 10%;
}

.pusher-container{
  margin-left: 0;
  transition: all .5s ease-in;
}

.pusher-container.hide{
  margin-right: 100%;
}

.project-detail-close{
  transition: all 1s ease;
  font-size: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
}

.project-detail-close:hover{
  transform: rotate(90deg)
}

#but {
  display:inline;
  border-radius: 8px; 
  background:white;
  color: $primary-highlight;  
  border:1px solid $primary-highlight;
  transition: all .5s ease;
  margin-right: 10px;
  font-family: lato, sans-serif;
  font-size: 12px; 
  cursor: pointer;
  padding: 2px 8px 2px 8px;
}
input[type="radio"]:checked+#but{
  border:none;
  background:  $primary-highlight;
  color: $primary-lightgray;
  border:1px solid $primary-highlight;
  outline:none;
}

#filter-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

input{
  display: none;
}

.project-list-item {
  width: 22%;
  padding-bottom: 5px;
  transition: background-color 2s ease;
  border-radius: 8px;
  background-color: #f5f5f5;
  margin-right: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}


.project-list-album img{
  width:100%;
  border-radius:8px 8px 0px 0px;
}

.project-list-name {
  font-size: 12px;
  padding: 5px;
  font-weight: bolder;
  padding-bottom: 0px;
}

.project-list-tag-wrap {
  padding: 5px;
  padding-top: 0px;
}

.project-list-tag {
  color: $primary-highlight;
  display: inline;
  font-size: 10px;
  font-weight: bold;
  font-weight: normal;
  margin-right: 5px;
}

.project-list-abstract {
  color: $primary-lightdark;
  font-size: 12px;
  padding: 5px;
  padding-top: 0px;
}