@import 'variable';

.publication {
  color: $primary-color;
  margin-top:10px;
  line-height: 25px;
  margin-left: 100px;
  width: 700px;
  padding-top: 80px;
}

.paper-link {
  color: $primary-color;
  font-weight: 300;
}

.paper-link:hover {
}

.paper-item{
  width: 100%;
  margin-bottom: 10px;
}

.publication .venue{
  float:left;
  width:15%;
  font-weight: 600;
}

.publication .text{
  width: 80%;
  display: inline-block;
}