@import 'variable';

.publication {
  color: $primary-color;
  margin-top:10px;
  line-height: 25px;
  margin-left: 100px;
  width: 700px;
  padding-top: 80px;
}

.paper-link {
  color: $primary-color;
  font-weight: 300;
}

.paper-link:hover {
  color: $primary-color;
  
}