@import 'variable';

.publication {
  color: $primary-color;
  line-height: 25px;
}

.paper-link {
  color: $primary-color;
  font-style:italic;
  font-weight: 400;
  display:inline;
}

.paper-link:hover {
}

.paper-item{
  width: 100%;
  margin-bottom: 10px;
}

.publication .venue{
  float:left;
  width:15%;
  font-weight: 600;
}

.publication .text{
  width: 80%;
  display: inline-block;
}