$primary-color: #333;
$primary-highlight: #A54C4C;
$primary-highlight-light: #bd5757;
$primary-lightgray: #eeeeee;
$primary-midgray: #e5e5e5;
$primary-darkgray: #a3a5a2;
$primary-lightdark: #444;
$primary-dark: #000;