$primary-color: rgb(34, 34, 34);
$secondary-color: #424242;
$primary-highlight: #7c7c7c;
$primary-highlight-light: #dedede;
$secondary-highlight-background: #e1a0a040;
$primary-lightgray: #eeeeee;
$primary-midgray: #e5e5e5;
$primary-darkgray: #a7a7a7;
$primary-lightdark: #3030307d;
$primary-dark: #323232bd;
$section-red: #f9f9f955;
$section-yellow: #fdfaf5;
$medium-red: #cacaca;
$text-yellow:#aaaaaa;
$text-secondary-yellow:#d2d2d2aa;
$text-background-yellow:#d4d4d430;
$myblue: #205ec9;
$mybluebg: #99bfff;

$section-header-bg: #ffffff;
$section-about-bg: #ffffff;
$section-header-linebreak: #eaeaee;
$section-header-ol: 1px;
$font-family: -apple-system, system-ui, BlinkMacSystemFont;
$link: #d16d6d;
$link-secondary: #bd5b5b;
$announcement-board-bg: #d2d2d240;
$button-bg: #d2d2d240;
