$primary-color: #3b0404c2;
$secondary-color: #3a040480;
$primary-highlight: #B95C50;
$primary-highlight-light: #DEB3AD;
$secondary-highlight-background: #deb3ad40;
$primary-lightgray: #eeeeee;
$primary-midgray: #e5e5e5;
$primary-darkgray: #a3a5a2;
$primary-lightdark: #3a04047d;
$primary-dark: #3b0404bd;
$section-red: #f7f0ed55;
$section-yellow: #fdfaf5;
$medium-red: #d1b7b1;
$text-yellow:#da9533;
$text-secondary-yellow:#da9533aa;
$text-background-yellow:#da953330;
$myblue: #205ec9;
$mybluebg: #99bfff;

$section-header-bg: $section-red;
$section-about-bg: $section-yellow;
$section-header-linebreak: $medium-red;
$section-header-ol: 5px;
$font-family: lato, sans-serif;